html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}
#page {
  min-height: 100%;
  padding: 0 2em;
}
h1 {
  margin: 0;
  padding-top: 12px;
}
#content {
  width: 100%;
  padding: 18px 0 49px 0;
}
p {
  margin-top: 1em;
}
h1 {
  line-height: 1.3em;
}
pre {
  margin-top: 1em;
  padding: 1em 1.5em;
  line-height: 1.5em;
  border: 1px solid #aaa;
  background: #f6f6f6;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
}
p > code, div > code {
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  color: #333;
  padding: 0px 0.2em;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
hr {
  height: 1px;
  border: 0;
  background-color: #ccc;
}
#post ul {
  list-style-type: square;
  padding-left: 1em;
  margin-left: 1em;
}
.hentry .entry-content {
  display: none;
}
.updated {
  font-size: 0.8em;
  color: #999;
}
#disqus_thread {
  margin-top: 48px;
  font-size: 90%;
}
#footer {
  height: 24px;
  margin: -49px auto 0;
  overflow: hidden;
  padding: 12px 2em;
  background-color: #eee;
  border-top: 1px solid #aaa;
  color: #666;
}
#footer .right {
  float: right;
  margin-left: 3em;
}
#footer address {
  float: left;
  margin-right: 3em;
}
address, #footer a {
  font-size: 12px;
  font-style: normal;
}
address .email, address .url {
  display: none;
}
.hcard-download {
  background: transparent url(/images/hcard.mini.png) no-repeat scroll left 1px;
  margin-left: 2px;
  padding-left: 15px;
}
.feed {
  background: transparent url(/images/feed.mini.png) no-repeat scroll left 5px;
  padding-left: 20px;
}
ul#archive ul {
  padding-left: 1.5em;
}


.javascript .comment, .ruby .comment {
	color : green;
}

.javascript .string, .ruby .string {
	color : teal;
}

.javascript .keywords, .ruby .keywords {
	color : purple;
}

.javascript .global {
	color : blue;
}

.javascript .brackets, .ruby .brackets {
	color : navy;
}

.css .comment {
	color : gray;
}

.css .properties {
	color : navy;
}

.css .selectors {
	color : maroon;
	font-weight : bold;
}

.css .units {
	color :red;
}

.css .urls {
	color :green;
}

.html .tag {
	color : purple;
}

.html .comment {
	color : gray;
	font-style: italic;
}

.html .string {
	color : navy;
}

.html .doctype {
	color : teal;
}
